<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <center>
        <h1>Employee Data</h1>
        <table border="5px">
           <tr>
            <th>Ename</th>
            <th>mobile</th>
            <th>salary</th>
            <th>dept</th>
           </tr>
           {% for i in Employee %}
           <tr>
            <td>{{i.ename}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.dept}}</td>
           </tr>
           {% endfor %}
        </table>

            </table>

        </form>
    </center>
</body>
</html>