<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
           background-color: aqua;
           border-style: double;
           width: 200px;
        }
        p{
            background-color: blue;
        }
    </style>
</head>
<body>
    <center>
        <h1> Python History </h1>
        <p>Python was created by Guido van Rossum, 
            and first released on February 20, 1991. 
            While you may know the python as a large snake, 
            the name of the Python programming language comes from an old BBC television comedy sketch series called Monty Python's Flying Circus.</p>
    </center>
</body>
</html>